@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-color: #e5e8ef;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 5;
}

#header_wrapper {
    background:  #757288;
}

.navbar{
    margin: 10px 0;
    padding: 10px;
}

p {
    margin: 1px 0;
    padding: 3px;
}