@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    background-color: #e5e8ef;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 5;
}

#header_wrapper {
    background:  #757288;
    padding: 20px 0px;
}

navbar{
    background-color: #757288;
    border: 10px #757288;
    margin: 5;
    padding: 20px;
    margin-left: 5px;
}