header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding-left: 30px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover{
  color: #FFD2D2;
  text-decoration: none;
  font-weight: 800;
}

a:active {
  color: #FFD2D2;
  text-decoration: none;
  font-weight: 800;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFEDED;
  color:#000000
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-nav .nav-link:nth-last-child(1) {
  position: absolute;
  right: 30px

}

.navbar-nav .nav-link:nth-last-child(2) {
  position: absolute;
  right: 130px
}


.circle-img {
  margin-left: 50px;
  margin-top: 50px;
  width: 20%;
  border-radius: 50%;
}

.circle-text-container {
  display: flex;
  align-items: center;
}

.circle-text {
  margin-left: 20px;
}

p {
  margin-left: 30px;
  font-weight: 600;
}

